<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Manage Items</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="showHelp()">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Manage Items</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Search Section -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Search Item</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Item Name</ion-label>
        <ion-input type="text" [(ngModel)]="searchName" placeholder="Enter item name"></ion-input>
      </ion-item>
      <ion-button
        expand="block"
        class="ion-margin-top"
        (click)="searchForEdit()"
        [disabled]="!searchName">
        Load Item
      </ion-button>
    </ion-card-content>
  </ion-card>

  <!-- Edit / Delete Form -->
  <ion-card *ngIf="itemToEdit">
    <ion-card-header>
      <ion-card-title>Edit: {{ itemToEdit.itemName }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label position="floating">Item Name *</ion-label>
          <ion-input type="text" [(ngModel)]="itemToEdit.itemName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Category *</ion-label>
          <ion-select interface="popover" [(ngModel)]="itemToEdit.category">
            <ion-select-option *ngFor="let c of categories" [value]="c">
              {{ c }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Quantity *</ion-label>
          <ion-input type="number" min="0" [(ngModel)]="itemToEdit.quantity"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Price ($) *</ion-label>
          <ion-input type="number" min="0" [(ngModel)]="itemToEdit.price"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Supplier Name *</ion-label>
          <ion-input type="text" [(ngModel)]="itemToEdit.supplierName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Stock Status *</ion-label>
          <ion-select interface="popover" [(ngModel)]="itemToEdit.stockStatus">
            <ion-select-option *ngFor="let s of stockStatuses" [value]="s">
              {{ s }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Featured Item</ion-label>
          <ion-toggle slot="end" [(ngModel)]="itemToEdit.featuredItem"></ion-toggle>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Special Note (Optional)</ion-label>
          <ion-textarea [(ngModel)]="itemToEdit.specialNote"></ion-textarea>
        </ion-item>
      </ion-list>

      <ion-button
        expand="block"
        class="ion-margin-top"
        (click)="updateItem()"
        [disabled]="!isEditValid()">
        Update Item
      </ion-button>

      <ion-button
        expand="block"
        fill="outline"
        color="danger"
        class="ion-margin-top"
        (click)="deleteItem()">
        Delete Item
      </ion-button>
    </ion-card-content>
  </ion-card>

</ion-content>
